{% if include.script %}
  {% include kankoda/gumroad/script.html %}
{% endif %}

<section class="feature-table two-tier {{include.price}}">
  {% include kankoda/licenses/tiers-header.html tiers=include.tiers price=include.price %}    

  {% include kankoda/licenses/table-row.html row=01 feature="Input Engine" columns="✔,✔" title="VietnameseInput has an input engine that lets you type in Vietnamese." url="features/input" %}
  {% include kankoda/licenses/table-row.html row=02 feature="TELEX" columns="✔,✔" title="VietnameseInput supports TELEX." url="features/input" %}
  {% include kankoda/licenses/table-row.html row=03 feature="VIQR" columns="✔,✔" title="VietnameseInput supports VIQR." url="features/input" %}
  {% include kankoda/licenses/table-row.html row=04 feature="VNI" columns="✔,✔" title="VietnameseInput supports VNI." url="features/input" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Offline Validation"  columns="-,✔" title="Yearly Gold and Enterprise licenses are compiled into the library and can be validated offline, without the need for Full Access." url="license-validation" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Additional Products" columns="-,✔" title="Custom licenses can include additional products, at a significant discount." url="addons" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Custom Billing" columns="-,✔" title="Custom licenses can customize the billing, included products, etc." url="addons" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Custom Terms" columns="-,✔" title="Custom licenses can customize the license terms." url="addons" %}
  {% include kankoda/licenses/table-row.html row=04 feature="Enterprise Support" columns="-,✔" title="Custom licenses can include support for additional test environments and enterprise requirements.." url="addons" %}
  {% include kankoda/licenses/table-row.html row=05 feature="Escrow Services" columns="-,✔" title="Enterprise licenses can include support for additional test environments and enterprise requirements.." url="addons" %}
  
  <hr />
  
  {% include kankoda/licenses/table-row.html row=01 feature="Support" columns="GitHub,Dedicated" title="The higher tiers include priority support and can pay extra for dedicated support." url="support" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Terms" columns="Standard,Custom" title="Custom licenses can customize the terms to accomodate to any business or legal requirements." url="terms-and-conditions" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Discord Server" columns="Public,Private" title="Yearly Gold and License customers  The optional onboarding call lets us understand your needs to help you get started." url="support#communication" %}

  <hr />
</section>