---
id: home
title: Home
layout: plain

page-class: glass-background bg1

hero-image: /assets/devices.png
hero-title: Kankoda
hero-tagline: Apps & SDKs for Apple platforms

description: Kankoda builds apps and SDKs for all major Apple platforms, using Swift, SwiftUI and the Swift Package Manager.
---

<div class="paper">

  <div class="wrapper">
    <section>
      <p>
        Kankoda builds <a href="/sdks">SDKs</a> and <a href="/apps">apps</a> for Apple platforms, using technologies like Swift, SwiftUI and the Swift Package Manager.
      </p>
      <p>
        Don't hesistate to <a href="mailto:{{site.email}}">reach out</a> if you need help with a project or want to build something amazing.
      </p>
    </section>
  
    <section>
      <h2>SDKs</h2>
      <p>Kankoda builds commercial <a href="/sdks">SDKs</a> for all Apple platforms.</p>
      <article>
        {% include kankoda/grids/grid items=site.data.sdks limit=4 type="icons" %}
      </article>
    </section>

    <section>
      <h2>Apps</h2>
      <p>Kankoda builds <a href="/apps">apps</a> for all Apple platforms.</p>
      <article>
        {% include kankoda/grids/grid items=site.data.apps limit=4 type="icons" %}
      </article>
    </section>

    <section>
      <h2>Latest News</h2>
      <p> 
        Follow the <a href="/blog">Kankoda blog</a> for news & updates.
      </p>
      <div class="grid home blog list">
        {% for post in site.posts limit:2 %}
        <div>
          {% include kankoda/blog/image-item post=posts.first tag-limit=1 %}
        </div>
        {% endfor %}
      </div>
    </section>
  
    <section>
      <h2>Social Media</h2>
      <p>Follow Kankoda on <a href="{{site.urls.bluesky}}">Bluesky</a>, and <a href="{{site.urls.mastodon}}">Mastodon</a> for the latest news.</p>
      <div>
        {% include kankoda/buttons/social name="bluesky" href=site.urls.bluesky class="scale" %}
        {% include kankoda/buttons/social name="mastodon" href=site.urls.mastodon class="scale" %}  
      </div>
    </section>
  
    <section>
      <h2>Newsletter</h2>
      <p>Subscribe to <a href="{{site.urls.newsletter}}">the Kankoda newsletter</a> for periodic updates.</p>
      {% include kankoda/widgets/newsletter %}
    </section>
  </div>    
</div>